<template name="edit">
	{{setBackPath 'home'}}
	<p><strong>Edit Information</strong></p>
	<form class="form" role="form">
		<img class="center-block" src="{{currentUser.profilePicUrl}}" id="edit-profile-pic"/>
		<br/>
		<div class="form-group">
			<table class="full-width">
				<tr><td class="padding-right">
					<input id="edit-first-name-input" class="form-control" placeholder="{{isNullWithValue currentUser.firstName 'First Name'}}" value="{{isNullWithValue currentUser.firstName ''}}">
				</td><td class="padding-left">
					<input id="edit-last-name-input" class="form-control" placeholder="{{isNullWithValue currentUser.lastName 'Last Name'}}" value="{{isNullWithValue currentUser.lastName ''}}">
				</td></tr>
				<tr><td colspan="2">
					<div class="top-buffer">
						<input id="edit-business-input" type="email" class="form-control" placeholder="{{isNullWithValue currentUser.business 'Business'}}" value="{{isNullWithValue currentUser.business ''}}">
					</div>
				</td></tr>
				<tr><td colspan="2">
					<div class="top-buffer">
						<input id="edit-email-input" type="email" class="form-control" placeholder="{{isNullWithValue currentUser.email 'Email'}}" value="{{isNullWithValue currentUser.email ''}}">
					</div>
				</td></tr>
				<tr><td colspan="2">
					<div class="top-buffer">
						<input id="edit-phone-number-input" type="tel" class="form-control" placeholder="{{isNullWithValue currentUser.phoneNumber 'Phone Number'}}" value="{{isNullWithValue currentUser.phoneNumber ''}}">
					</div>
				</td></tr>
				<tr><td colspan="2">
					<div class="top-buffer">
						<a href="">
							<button class="btn btn-hg btn-success full-width" id="edit-save-button">
								Save
							</button>
						</a>
					</div>
				</td></tr>
			</table>
		</div>
	</form>
	<div class="divider"></div>
	{{> linked_accounts}}
</template>

<template name="edit_add">
	{{setBackPath 'edit'}}
	<p><strong>Add a Card/Account</strong></p>
	<div class="container">
		<div class="row">
			<a href="{{ pathFor 'edit_debit'}}">
				<button class="btn btn-hg btn-success full-width">
					Debit<span class="fui-arrow-right"></span>
				</button>
			</a>
		</div>
		<div class="row top-buffer">
			<a href="{{ pathFor 'edit_credit'}}">
				<button class="btn btn-hg btn-warning full-width">
					Credit<span class="fui-arrow-right"></span>
				</button>
			</a>
		</div>
		<div class="row top-buffer">
			<a href="{{ pathFor 'edit_account'}}">
				<button class="btn btn-hg btn-danger full-width">
					Bank Account<span class="fui-arrow-right"></span>
				</button>
			</a>
		</div>
	</div>
</template>

<template name="edit_debit">
	{{#if getSession 'bankId'}}
		{{setBackPath 'edit'}}
	{{else}}
		{{setBackPath 'edit_add'}}
	{{/if}}
	<p><strong>{{getSession "isRevise"}} a Debit Card</strong></p>
	<div class="form-group">
		<table class="full-width">
			<tr><td colspan="2">
				<input type="tel" id="edit-debit-card-number-input" class="form-control" placeholder="{{isNullWithValue currentUser.bankList.[0].cardNumber 'Card #'}}" value="{{isNullWithValue currentUser.bankList.[0].cardNumber ''}}">
			</td></tr>
			<tr><td class="padding-right">
				<div class="top-buffer">
					<input type="date" id="edit-debit-expiration-date-input" class="form-control" placeholder="{{isNullWithValue currentUser.bankList.[0].expirationDate 'Exp Date'}}" value="{{isNullWithValue currentUser.bankList.[0].expirationDate ''}}">
				</div>
			</td><td class="padding-left">
				<div class="top-buffer">
					<input type="tel" id="edit-debit-security-code-input" class="form-control" placeholder="{{isNullWithValue currentUser.bankList.[0].securityCode 'Security Code'}}" value="{{isNullWithValue currentUser.bankList.[0].securityCode ''}}">
				</div>
			</td></tr>
		</table>
		<div class="top-buffer">
			<a href="{{ pathFor 'edit' }}" id="edit-debit-save-button">
				<button class="btn btn-hg btn-success full-width">
					Confirm<span class="fui-arrow-right"></span>
				</button>
			</a>
		</div>
		{{#if getSession 'bankId'}}
			<div class="top-buffer">
				<a href="{{ pathFor 'edit' }}" id="edit-debit-delete-button">
					<button class="btn btn-hg btn-danger full-width">
						Delete<span class="fui-cross"></span>
					</button>
				</a>
			</div>
		{{/if}}
		<div class="divider"></div>
		<div class="top-buffer">
			<a href="javascript:history.back();">
				<button class="btn btn-hg btn-danger full-width">
					<span class="fui-arrow-left"></span>Back
				</button>
			</a>
		</div>
	</div>
</template>

<template name="edit_credit">
	{{#if getSession 'bankId'}}
		{{setBackPath 'edit'}}
	{{else}}
		{{setBackPath 'edit_add'}}
	{{/if}}
	<p><strong>{{getSession "isRevise"}} a Credit Card</strong></p>
	<div class="form-group">
		<table class="full-width">
			<tr><td colspan="2">
				<input type="tel" id="edit-credit-card-number-input" class="form-control" placeholder="{{isNullWithValue currentUser.bankList.[0].cardNumber 'Card #'}}" value="{{isNullWithValue currentUser.bankList.[0].cardNumber ''}}">
			</td></tr>
			<tr><td class="padding-right">
				<div class="top-buffer">
					<input type="date" id="edit-credit-expiration-date-input" class="form-control" placeholder="{{isNullWithValue currentUser.bankList.[0].expirationDate 'Exp Date'}}" value="{{isNullWithValue currentUser.bankList.[0].expirationDate ''}}">
				</div>
			</td><td class="padding-left">
				<div class="top-buffer">
					<input type="tel" id="edit-credit-security-code-input" class="form-control" placeholder="{{isNullWithValue currentUser.bankList.[0].securityCode 'Security Code'}}" value="{{isNullWithValue currentUser.bankList.[0].securityCode ''}}">
				</div>
			</td></tr>
		</table>
		<div class="top-buffer">
			<a href="{{ pathFor 'edit' }}" id="edit-credit-save-button">
				<button class="btn btn-hg btn-success full-width">
					Confirm<span class="fui-arrow-right"></span>
				</button>
			</a>
		</div>
		{{#if getSession 'bankId'}}
			<div class="top-buffer">
				<a href="{{ pathFor 'edit' }}" id="edit-credit-delete-button">
					<button class="btn btn-hg btn-danger full-width">
						Delete<span class="fui-cross"></span>
					</button>
				</a>
			</div>
		{{/if}}
		<div class="divider"></div>
		<div class="top-buffer">
			<a href="javascript:history.back();">
				<button class="btn btn-hg btn-danger full-width">
					<span class="fui-arrow-left"></span>Back
				</button>
			</a>
		</div>
	</div>
</template>

<template name="edit_account">
	{{#if getSession 'bankId'}}
		{{setBackPath 'edit'}}
	{{else}}
		{{setBackPath 'edit_add'}}
	{{/if}}
	<p><strong>{{getSession "isRevise"}} a Bank Account</strong></p>
	<div class="form-group">
		<table class="full-width">
			<tr><td>
				<input type="tel" id="edit-account-routing-number-input" class="form-control" placeholder="{{isNullWithValue currentUser.bankList.[0].routingNumber 'Routing #'}}" value="{{isNullWithValue currentUser.bankList.[0].routingNumber ''}}">
			</td></tr>
			<tr><td>
				<div class="top-buffer">
					<input type="tel" id="edit-account-account-number-input" class="form-control" placeholder="{{isNullWithValue currentUser.bankList.[0].accountNumber 'Account #'}}" value="{{isNullWithValue currentUser.bankList.[0].accountNumber ''}}">
				</div>
			</td></tr>
			<tr><td>
				<div class="top-buffer">
					<input type="tel" class="form-control" placeholder="{{isNullWithValue currentUser.bankList.[0].accountNumber 'Account #'}}" value="{{isNullWithValue currentUser.bankList.[0].accountNumber ''}}">
				</div>
			</td></tr>
		</table>
		<div class="top-buffer">
			<a href="{{ pathFor 'edit' }}" id="edit-account-save-button">
				<button class="btn btn-hg btn-success full-width">
					Confirm<span class="fui-arrow-right"></span>
				</button>
			</a>
		</div>
		{{#if getSession 'bankId'}}
			<div class="top-buffer">
				<a href="{{ pathFor 'edit' }}" id="edit-account-delete-button">
					<button class="btn btn-hg btn-danger full-width">
						Delete<span class="fui-cross"></span>
					</button>
				</a>
			</div>
		{{/if}}
		<div class="divider"></div>
		<div class="top-buffer">
			<a href="javascript:history.back();">
				<button class="btn btn-hg btn-danger full-width">
					<span class="fui-arrow-left"></span>Back
				</button>
			</a>
		</div>
	</div>
</template>