<template name="edit">
	<p><strong>Edit Information</strong></p>
	<form class="form" role="form">
		<img class="center-block" src="{{currentUser.profilePicUrl}}" id="edit-profile-pic"/>
		<br/>
		<div class="form-group">
			<table class="full-width">
				<tr><td class="padding-right">
					<input id="edit-first-name-input" class="form-control" placeholder="{{isNullWithValue currentUser.firstName 'First Name'}}" value="{{isNullWithValue currentUser.firstName ''}}">
				</td><td class="padding-left">
					<input id="edit-last-name-input" class="form-control" placeholder="{{isNullWithValue currentUser.lastName 'Last Name'}}" value="{{isNullWithValue currentUser.lastName ''}}">
				</td></tr>
				<tr><td colspan="2">
					<div class="top-buffer">
						<input id="edit-business-input" type="email" class="form-control" placeholder="{{isNullWithValue currentUser.business 'Business'}}" value="{{isNullWithValue currentUser.business ''}}">
					</div>
				</td></tr>
				<tr><td colspan="2">
					<div class="top-buffer">
						<input id="edit-email-input" type="email" class="form-control" placeholder="{{isNullWithValue currentUser.email 'Email'}}" value="{{isNullWithValue currentUser.email ''}}">
					</div>
				</td></tr>
				<tr><td colspan="2">
					<div class="top-buffer">
						<input id="edit-phone-number-input" type="tel" class="form-control" placeholder="{{isNullWithValue currentUser.phoneNumber 'Phone Number'}}" value="{{isNullWithValue currentUser.phoneNumber ''}}">
					</div>
				</td></tr>
				<tr><td colspan="2">
					<div class="top-buffer">
						<a href="">
							<button class="btn btn-hg btn-success full-width" id="edit-save-button">
								Save
							</button>
						</a>
					</div>
				</td></tr>
			</table>
		</div>
	</form>
	<div class="divider"></div>
	<p class="heading"><strong>Linked Accounts</strong></p>
	<a href="{{ pathFor 'edit_add' }}">
		<button class="btn btn-hg btn-warning full-width">
			<span class="fui-plus"></span>
		</button>
	</a>
	{{#if isNull currentUser.bankList}}
		<div class="text-center full-width top-buffer">
			<strong>Go add a bank account, credit card, or debit card.</strong>
		</div>
	{{else}}
		{{#each currentUser.bankList}}
			{{#if isEqual this.type "account"}}
				<a href="{{ pathFor 'edit_account' state='revise' bankId=this.id}}">
					<div class="row top-buffer record-container green">
						<p class="record-recipient">{{this.bankName}}
								<span class="fui-arrow-right pull-right edit-account-button"></span>
						</p>
						<p class="record-transaction-id">Routing #: <span>{{this.routingNumber}}</span></p>
					</div>
				</a>
			{{else}}
				{{#if isEqual this.type "credit"}}
					<a href="{{ pathFor 'edit_credit' state='revise' bankId=this.id}}">
						<div class="row top-buffer record-container yellow">
							<p class="record-recipient">{{this.bankName}}
								<span class="fui-arrow-right pull-right edit-account-button"></span>
							</p>
							<p class="record-transaction-id">Card #: <span>{{this.cardNumber}}</span></p>
						</div>
					</a>
				{{else}}
					<a href="{{ pathFor 'edit_debit' state='revise' bankId=this.id}}">
						<div class="row top-buffer record-container red">
							<p class="record-recipient">{{this.bankName}}
								<span class="fui-arrow-right pull-right edit-account-button"></span>
							</p>
							<p class="record-transaction-id">Account #: <span>{{this.accountNumber}}</span></p>
						</div>
					</a>
				{{/if}}
			{{/if}}
		{{/each}}
	{{/if}}
</template>

<template name="edit_add">
	<p><strong>Add a Card/Account</strong></p>
	<div class="container">
		<div class="row">
			<a href="{{ pathFor 'edit_debit' state='add'}}">
				<button class="btn btn-hg btn-success full-width">
					Debit<span class="fui-arrow-right"></span>
				</button>
			</a>
		</div>
		<div class="row top-buffer">
			<a href="{{ pathFor 'edit_credit' state='add'}}">
				<button class="btn btn-hg btn-warning full-width">
					Credit<span class="fui-arrow-right"></span>
				</button>
			</a>
		</div>
		<div class="row top-buffer">
			<a href="{{ pathFor 'edit_account' state='add'}}">
				<button class="btn btn-hg btn-danger full-width">
					Bank Account<span class="fui-arrow-right"></span>
				</button>
			</a>
		</div>
	</div>
</template>

<template name="edit_debit">
	<p><strong>{{getSession "isRevise"}} a Debit Card</strong></p>
	<div class="form-group">
		<table class="full-width">
			<tr><td colspan="2">
				<input type="tel" id="edit-debit-card-number-input" class="form-control" Value="Card #">
			</td></tr>
			<tr><td class="padding-right">
				<div class="top-buffer">
					<input type="date" id="edit-debit-expiration-date-input" class="form-control" Value="Exp Date">
				</div>
			</td><td class="padding-left">
				<div class="top-buffer">
					<input type="tel" id="edit-debit-security-code-input" class="form-control" Value="Security Code">
				</div>
			</td></tr>
		</table>
		<div class="top-buffer">
			<a href="{{ pathFor 'edit' }}">
				<button class="btn btn-hg btn-danger full-width">
					Confirm<span class="fui-arrow-right"></span>
				</button>
			</a>
		</div>
		<div class="divider"></div>
		<div class="top-buffer">
			<a href="javascript:history.back();">
				<button class="btn btn-hg btn-danger full-width">
					<span class="fui-arrow-left"></span>Back
				</button>
			</a>
		</div>
	</div>
</template>

<template name="edit_credit">
	<p><strong>{{getSession "isRevise"}} a Credit Card</strong></p>
	<div class="form-group">
		<table class="full-width">
			<tr><td colspan="2">
				<input type="tel" id="edit-credit-card-number-input" class="form-control" Value="Card #">
			</td></tr>
			<tr><td class="padding-right">
				<div class="top-buffer">
					<input type="date" id="edit-credit-expiration-date-input" class="form-control" Value="Exp Date">
				</div>
			</td><td class="padding-left">
				<div class="top-buffer">
					<input type="tel" id="#edit-credit-security-code-input" class="form-control" Value="Security Code">
				</div>
			</td></tr>
		</table>
		<div class="top-buffer">
			<a href="{{ pathFor 'edit' }}">
				<button class="btn btn-hg btn-danger full-width">
					Confirm<span class="fui-arrow-right"></span>
				</button>
			</a>
		</div>
		<div class="divider"></div>
		<div class="top-buffer">
			<a href="javascript:history.back();">
				<button class="btn btn-hg btn-danger full-width">
					<span class="fui-arrow-left"></span>Back
				</button>
			</a>
		</div>
	</div>
</template>

<template name="edit_account">
	<p><strong>{{getSession "isRevise"}} a Bank Account</strong></p>
	<div class="form-group">
		<table class="full-width">
			<tr><td>
				<input type="tel" id="edit-account-routing-number-input" class="form-control" value="{{currentUser.bankList.routingNumber}}">
			</td></tr>
			<tr><td>
				<div class="top-buffer">
					<input type="tel" id="edit-account-account-number-input" class="form-control" value="Account #">
				</div>
			</td></tr>
			<tr><td>
				<div class="top-buffer">
					<input type="tel" class="form-control" Value="Confirm Account #">
				</div>
			</td></tr>
		</table>
		<div class="top-buffer">
			<a href="{{ pathFor 'edit' }}">
				<button class="btn btn-hg btn-danger full-width">
					Confirm<span class="fui-arrow-right"></span>
				</button>
			</a>
		</div>
		<div class="divider"></div>
		<div class="top-buffer">
			<a href="javascript:history.back();">
				<button class="btn btn-hg btn-danger full-width">
					<span class="fui-arrow-left"></span>Back
				</button>
			</a>
		</div>
	</div>
</template>