<template name="activity">
	<div class="row">
		<div class="divider"></div>
		<p class="heading"><strong>Activity</strong></p>
		<!--{{{#if isNull currentUser.contactList}}-->
		<div class="text-center full-width top-buffer">
			<strong>No activity yet.</strong>
		</div>
		<!--{{else}}
			{{#each getKeyAndValue currentUser.contactList}}
				<a href="{{pathFor 'contact_info_view'}}">
					<div class="row top-buffer record-container green no-padding-top">
						<strong class="padding-left">{{value}}</strong>
						<span class="fui-arrow-right pull-right contact-record-select-button"></span>
					</div>
				</a>
			{{/each}}
			<div class="divider"></div>
		{{/if}}-->
	</div>
</template>
<template name="activity_sidebar">
	<div class="row">

	</div>
</template>
<template name="activity_record">
	<div class="row top-buffer green record-container">
		<p class="record-recipient">Graham Gobieski - <span class="record-date">5/21/14</span><span class="pull-right record-amount">$0.00</span></p>
		<p class="record-transaction-id">Trans #: <span>45678900987654</span></p>
	</div>
</template>