<template name="activity">
	<div class="row">
		<div class="divider"></div>
		<p class="heading"><strong>Activity</strong></p>
		{{> activity_record}}
		{{> activity_record}}
		{{> activity_record}}
		{{> activity_record}}
		<div class="divider"></div>
	</div>
</template>
<template name="activity_sidebar">
	<div class="row">

	</div>
</template>
<template name="activity_record">
	<div class="row top-buffer green record-container">
		<p class="record-recipient">Graham Gobieski - <span class="record-date">5/21/14</span><span class="pull-right record-amount">$0.00</span></p>
		<p class="record-transaction-id">Trans #: <span>45678900987654</span></p>
	</div>
</template>