<template name="navbar">
  {{#if currentUser}}
  	<nav class="navbar navbar-inverse navbar-fixed-top hidden-sm hidden-md hidden-lg" role="navigation">
        <div id="navbar-mobile-search-input-container">
            <ul class="nav navbar-nav pull-left">
              <li><a href="" id="navbar-mobile-search-cancel-button"><span class="fui-cross"></span></a></li>
            </ul>
            <input type="text" id="navbar-mobile-search-input" placeholder="Search..."/>
        </div>
    		<div class="navbar-header">
      		<button type="button" class="navbar-toggle" data-toggle="collapse">
        			<span class="sr-only">Toggle navigation</span>
      		</button>
          <ul class="nav navbar-nav" id="navbar-back-button-container">
            <li id="navbar-back-button">
              <a href="javascript:history.back();" id="navbar-back-button-link"><span class="fui-arrow-left" id="navbar-back-button-arrow"></span></a>
            </li>
          </ul>
      		<a class="navbar-brand" href="{{pathFor 'home'}}">B4A<p><small id="navbar-tagline">Bank 4 All</small></p></a>
    		</div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav pull-right">
              <li><a href="#"><span class="fui-chat"></span></a></li>
              <li><a href="" id="navbar-mobile-search-button"><span class="fui-search"></span></a></li>
              <li class="active"><a href="#">$ {{currentUser.balance}}</a></li>
          </ul>
        </div>
  	</nav>
  {{else}}
    <nav class="navbar navbar-inverse navbar-fixed-top hidden-sm hidden-md hidden-lg" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse">
              <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="{{pathFor 'home'}}">B4A<p><small id="navbar-tagline">Bank 4 All</small></p></a>
        </div>
    </nav>
  {{/if}}
</template>