#transfer-currency-dropdown-button{
	padding-top: 15px;
	height:@input-height-huge;
}
#transfer-currency-dropdown-current{
	font-size: ceil(@font-size-base * 1.5);
	line-height: 0px;
}
#transfer-currency-dropdown-caret{
	position: relative;
	top:-10px;
	left:-5px;
	line-height: 0px;
}
#transfer-decimal{
	font-size:ceil(@font-size-base * 5);
	line-height: 0px;
	width:4px;
}