<template name="sidebar">
	<div class="row">
		<a href="{{ pathFor 'transfer' }}">
			<button class="btn btn-hg btn-success full-width">
				Transfer<span class="fui-arrow-right"></span>
			</button>
		</a>
	</div>
	<div class="row top-buffer">
		<a href="{{ pathFor 'contacts' }}">
			<button class="btn btn-hg btn-warning full-width">
				Contacts<span class="fui-arrow-right"></span>
			</button>
		</a>
	</div>
	<div class="row top-buffer">
		<a href="{{ pathFor 'edit' }}">
			<button class="btn btn-hg btn-danger full-width">
				Edit<span class="fui-arrow-right"></span>
			</button>
		</a>
		<div id="sidebar-edit-account">
		{{#each currentUser.bankList}}
			<p class="sidebar-edit-account-sub">
				{{isNullWithValue this.bankName 'No Bank Name'}}: {{isNullWithValue this.cardNumber ''}}{{isNullWithValue this.routingNumber ''}} 
			<span class="pull-right">{{isNullWithValue this.currency '$'}} {{isNullWithValue this.amount '0.00'}}</span></p>
		{{/each}}
		</div>
	</div>
</template>