<template name="login">
	<p><strong>Login/Signup</strong></p>
	<input class="form-control" id="login-email-input" placeholder="Email"/>
	<input type="password" class="form-control top-buffer" id="login-password-input" placeholder="Password"/>
	<button class="btn btn-hg btn-info full-width top-buffer" id="login-facebook-button">
		LogIn/SignUp with Facebook
	</button>
	<table class="full-width top-buffer">
		<tr><td class="padding-right half-width">
			<button class="btn btn-hg btn-warning full-width" id="login-signup-button">
				Sign Up<span class="fui-arrow-right"></span>
			</button>
		</td><td class="padding-left half-width">
			<button class="btn btn-hg btn-success full-width" id="login-login-button">
				Log In<span class="fui-arrow-right"></span>
			</button>
		</td></tr>
	</table>
</template>