.contact-record-profile-pic{
	height:40px;
	width:40px;
	margin-top: -4px;
	margin-bottom: 0px;
	margin-right: 8px;
	margin-left: 5px;
}
.contact-record-select-button{
	position: relative;
	top: -9px;
	color:@inverse;
	font-size:ceil(@font-size-base*1.5);
}
#contact-info-view-profile-pic{
	height: 120px;
	width:120px;
}