<template name="contacts">
	{{setBackPath 'home'}}
	<p><strong>Contacts</strong></p>
	<input class="form-control" placeholder="Add: Phone # or Email">
	<button class="btn btn-hg btn-warning full-width top-buffer">
		<span class="fui-plus"></span>
	</button>
	{{#if isNull currentUser.contactList}}
		<div class="text-center full-width top-buffer">
			<strong>Add some contacts.</strong>
		</div>
	{{else}}
		{{#each currentUser.contactList}}
			<a href="{{pathFor 'contact_info_view' userId=key}}">
				<div class="row top-buffer record-container green no-padding-top">
					<strong class="padding-left">{{this.name}}</strong>
					<span class="fui-arrow-right pull-right contact-record-select-button"></span>
				</div>
			</a>
		{{/each}}
	{{/if}}
</template>
<template name="contact_info_view">
	<img class="center-block" src="/img/icons/png/Book.png" id="contact-info-view-profile-pic"/>
	<div class="center-text top-buffer">
		<strong id="contact-info-view-name">{{isNullWithValue firstName "Not Specified"}} {{isNullWithValue firstName "Not Specified"}}</strong><br/>
		<span id="contact-info-view-bussiness">{{isNullWithValue business "Not Specified"}}</span>
	</div>
	<strong>Email: </strong><span id="contact-info-view-email">{{isNullWithValue email "Not Specified"}}</span><br/>
	<strong>Phone #: </strong><span id="contact-info-view-phone-number">{{isNullWithValue phoneNumber "Not Specified"}}</span>
	<a href="{{pathFor 'contact_record_edit'}}">
		<button class="btn btn-hg btn-danger full-width top-buffer">
			Delete<span class="fui-cross"></span>
		</button>
	</a>
	<div class="divider"></div>
	<a href="javascript:history.back()">
		<button class="btn btn-hg btn-danger full-width top-buffer">
			<span class="fui-arrow-left"></span>Back
		</button>
	</a>
</template>