<template name="contacts">
	{{setBackPath 'home'}}
	<p><strong>Contacts</strong></p>
	<button class="btn btn-hg btn-warning full-width" id="contact-add-button">
		<span class="fui-search"></span>
	</button>
	<small id="contacts-add-instructions">Search (in the navbar) to add a contact.</small>
	{{#if isNull currentUser.contactList}}
		<div class="text-center full-width">
			<strong>Add some contacts.</strong>
		</div>
	{{else}}
		{{#each currentUser.contactList}}
			{{>contact_record}}
		{{/each}}
	{{/if}}
</template>
<template name="contact_record">
	<div class="row record-container green top-buffer">
    <div class="search-result-container">
      <img class="record-profile-pic" src="{{isNullWithValue this.profilePicUrl '/img/icons/png/Book.png'}}"/>
      <strong class="padding-left">{{isNullWithValue this.name 'No Name'}}</strong>
      <a href=""><span class="fui-arrow-right pull-right record-button"></span></a>
      <a href="{{pathFor 'transfer'}}"><span class="pull-right padding-more-right record-pay">$</span></a>
    </div>
  </div>
</template>
<template name="contact_info_view">
	<img class="center-block" src="/img/icons/png/Book.png" id="contact-info-view-profile-pic"/>
	<div class="center-text top-buffer">
		<strong id="contact-info-view-name">{{isNullWithValue firstName "Not Specified"}} {{isNullWithValue firstName "Not Specified"}}</strong><br/>
		<span id="contact-info-view-bussiness">{{isNullWithValue business "Not Specified"}}</span>
	</div>
	<strong>Email: </strong><span id="contact-info-view-email">{{isNullWithValue email "Not Specified"}}</span><br/>
	<strong>Phone #: </strong><span id="contact-info-view-phone-number">{{isNullWithValue phoneNumber "Not Specified"}}</span>
	<a href="{{pathFor 'contact_record_edit'}}">
		<button class="btn btn-hg btn-danger full-width top-buffer">
			Delete<span class="fui-cross"></span>
		</button>
	</a>
	<div class="divider"></div>
	<a href="javascript:history.back()">
		<button class="btn btn-hg btn-danger full-width top-buffer">
			<span class="fui-arrow-left"></span>Back
		</button>
	</a>
</template>